<section style="background-color: #e0f7e9; min-height: 100vh;">
  <!-- Fondo verde agua -->
  <router-outlet></router-outlet>
</section>

<div class="auth-container">
  <div class="auth-content">
    <!-- Aquí puedes agregar contenido adicional si es necesario -->
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>© 2025 COAC. Todos los derechos reservados.</p>
    <div class="footer-links">
      <a routerLink="/privacy-policy">Política de Privacidad</a> |
      <a routerLink="/terms">Términos y Condiciones</a> |
      <a routerLink="/terms">Desarrollado por: Edison Unaucho</a>
    </div>
  </div>
</footer>
