<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div *ngIf="puedeSubir" class="w-full bg-white p-6 rounded-2xl shadow-md mb-6">
	<h2 class="text-2xl font-bold mb-6">Subir Archivo</h2>

	<div class="flex flex-col md:flex-row gap-4 items-center">
		<p-fileUpload
			#fileUpload
			name="archivos[]"
			[customUpload]="true"
			(uploadHandler)="subirArchivo($event)"
			(onProgress)="actualizarProgreso($event)"
			chooseLabel="Seleccionar"
			accept=".pdf,.jpg,.jpeg,.png,.doc,.docx,.zip"
			[auto]="false"
			mode="basic"
			[showUploadButton]="false"
			[showCancelButton]="false"
		></p-fileUpload>

		<div class="flex gap-2 mt-2">
			<p-button label="Subir" icon="pi pi-upload" (click)="fileUpload.upload()"></p-button>
			<p-button label="Cancelar" icon="pi pi-times" (click)="fileUpload.clear()"></p-button>
		</div>
	</div>

	<div *ngIf="subiendoArchivo" class="mt-4 w-full">
		<p class="text-xs text-gray-500 text-center">Subiendo archivo... {{ progresoSubida }}%</p>
		<p-progressBar [value]="progresoSubida"></p-progressBar>
	</div>
</div>

<!-- ✅ Datos del archivo -->
<div class="w-full bg-white p-6 rounded-2xl shadow-md mb-6">
	<h2 class="text-2xl font-bold mb-6">Datos del Archivo</h2>

	<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
		<!-- Descripción -->
		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Descripción</span>
			<input
				type="text"
				[(ngModel)]="descripcionArchivo"
				pInputText
				placeholder="Descripción del archivo"
				class="w-full rounded-xl border-gray-300 focus:ring-0 focus:border-gray-300"
			/>
		</div>

		<!-- Categoría -->
		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Categoría</span>
			<p-select
				[options]="opcionesCategorias"
				[(ngModel)]="categoriaSeleccionada"
				placeholder="Seleccione una categoría"
				class="w-full rounded-xl border-gray-300 focus:ring-0 focus:border-gray-300"
			>
				<ng-template let-option pTemplate="item">
					<div class="px-4 py-2 hover:bg-green-100 cursor-pointer">{{ option.label }}</div>
				</ng-template>
			</p-select>
		</div>

		<!-- Mes -->
		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Mes</span>
			<p-select
				[options]="meses"
				[(ngModel)]="mesSeleccionado"
				placeholder="Seleccione un mes"
				class="w-full rounded-xl border-gray-300 focus:ring-0 focus:border-gray-300"
			>
				<ng-template let-option pTemplate="item">
					<div class="px-4 py-2 hover:bg-green-100 cursor-pointer">{{ option.label }}</div>
				</ng-template>
			</p-select>
		</div>
		<!-- Año -->
		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Año</span>
			<div class="card">
				<p-datepicker
					[(ngModel)]="anioSeleccionado"
					view="year"
					dateFormat="yy"
					inputId="anio"
					placeholder="Seleccione un año"
					class="w-full rounded-xl border-gray-300 focus:ring-0 focus:border-gray-300"
				></p-datepicker>
			</div>
		</div>
	</div>
</div>

<div class="w-full bg-white p-6 rounded-2xl shadow-md mb-30">
	<div *ngIf="role === 'admin'" class="mb-4">
		<p-select
			[options]="usuarios"
			[(ngModel)]="selectedUsuarioId"
			(onChange)="onFiltroUsuarioChange()"
			placeholder="👤 Seleccione un usuario"
			class="w-full md:w-1/3"
			optionLabel="label"
			[appendTo]="'body'"
			optionValue="value"
		></p-select>
	</div>
	<h2 class="text-2xl font-bold mb-6">Mis Documentos</h2>
	<div class="card">
		<p-table
			[value]="archivos"
			[paginator]="true"
			[rows]="5"
			[tableStyle]="{ 'min-width': '50rem' }"
			[rowsPerPageOptions]="[5, 10, 20]"
			responsiveLayout="scroll"
			class="shadow rounded-xl"
		>
			<ng-template pTemplate="header">
				<tr class="text-sm text-gray-600">
					<th>Item</th>
					<th>Nombre</th>
					<th>Categoría</th>
					<th>Mes</th>
					<th>Año</th>
					<th>Descripción</th>
					<th>Última Edición</th>
					<th *ngIf="role === 'admin'">Subido por</th>
					<th>Acciones</th>
				</tr>
			</ng-template>

			<ng-template pTemplate="body" let-archivo>
				<tr class="text-sm hover:bg-gray-100 transition-colors">
					<td>{{ archivo.id }}</td>
					<td>{{ archivo.name }}</td>
					<td>{{ archivo.categoria }}</td>
					<td>{{ archivo.mes }}</td>
					<td>{{ archivo.anio || '---' }}</td>
					<td>{{ archivo.description }}</td>
					<td>{{ archivo.updated_by || '---' }}</td>
					<td *ngIf="role === 'admin'">{{ archivo.user?.username || '---' }}</td>
					<td>
						<div class="flex justify-center gap-2">
							<p-button
								*ngIf="puedeVer"
								icon="pi pi-eye"
								severity="info"
								rounded
								outlined
								size="small"
								pTooltip="Vista previa"
								tooltipPosition="top"
								(click)="verArchivo(archivo)"
							></p-button>

							<p-button
								*ngIf="puedeDescargar"
								icon="pi pi-download"
								severity="success"
								rounded
								outlined
								size="small"
								pTooltip="Descargar"
								tooltipPosition="top"
								(click)="descargarArchivo(archivo)"
							></p-button>

							<p-button
								*ngIf="puedeEditar"
								icon="pi pi-pencil"
								severity="warn"
								rounded
								outlined
								size="small"
								pTooltip="Editar"
								tooltipPosition="top"
								(click)="abrirModalEditar(archivo)"
							></p-button>

							<p-button
								*ngIf="puedeEliminar"
								icon="pi pi-trash"
								severity="danger"
								rounded
								outlined
								size="small"
								pTooltip="Eliminar"
								tooltipPosition="top"
								(click)="eliminarArchivo(archivo)"
							></p-button>

							<span
								*ngIf="!puedeVer && !puedeDescargar"
								class="text-gray-400 text-sm italic flex items-center gap-1"
								pTooltip="Sin permisos para acciones"
								tooltipPosition="top"
							>
								<i class="pi pi-lock text-red-400"></i> Sin permisos
							</span>
						</div>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<!-- ✅ Modal PDF -->
<p-dialog
	[(visible)]="mostrarPDF"
	header="Vista previa del archivo"
	[modal]="true"
	[style]="{ width: '90vw', height: '90vh' }"
	(onHide)="cerrarModal()"
>
	<iframe
		*ngIf="archivoActualURL"
		[src]="archivoActualURL"
		width="100%"
		height="100%"
		class="rounded-xl"
		style="border: none"
	></iframe>
</p-dialog>

<!-- ✅ Modal Editar -->
<p-dialog
	[(visible)]="mostrarModalEditar"
	header="Editar archivo"
	[modal]="true"
	[style]="{ width: '400px' }"
	(onHide)="cerrarModalEditar()"
>
	<div class="flex flex-col gap-4">
		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Categoría</span>
			<p-select
				[options]="categorias"
				[(ngModel)]="archivoEditar.categoria"
				placeholder="Seleccione una categoría"
				class="w-full focus:ring-0 focus:border-gray-300"
				[appendTo]="'body'"
			>
				<ng-template let-option pTemplate="item">
					<div class="px-4 py-2 hover:bg-green-100 cursor-pointer">{{ option.label }}</div>
				</ng-template>
			</p-select>
		</div>

		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Mes</span>
			<p-select
				[options]="meses"
				[(ngModel)]="archivoEditar.mes"
				placeholder="Seleccione un mes"
				class="w-full focus:ring-0 focus:border-gray-300"
				[appendTo]="'body'"
			>
				<ng-template let-option pTemplate="item">
					<div class="px-4 py-2 hover:bg-green-100 cursor-pointer">{{ option.label }}</div>
				</ng-template>
			</p-select>
		</div>

		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Descripción</span>
			<input
				type="text"
				[(ngModel)]="archivoEditar.description"
				pInputText
				placeholder="Descripción del archivo"
				class="w-full rounded-xl border-gray-300 focus:ring-0 focus:border-gray-300"
			/>
		</div>

		<!-- Año -->
		<div class="flex flex-col">
			<span class="mb-2 text-sm font-semibold text-gray-700">Año</span>
			<div class="card">
				<p-datepicker
					[(ngModel)]="anioSeleccionadoEditar"
					placeholder="Seleccione un año"
					view="year"
					dateFormat="yy"
					class="w-full rounded-xl border-gray-300 focus:ring-0 focus:border-gray-300"
					yearRange="2000:2030"
					appendTo="body"
				>
				</p-datepicker>
			</div>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<p-button label="Guardar" icon="pi pi-check" class="p-button-success" (click)="guardarEdicion()"></p-button>
		<p-button label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="cerrarModalEditar()"></p-button>
	</ng-template>
</p-dialog>
