<form
	*ngIf="forgotForm"
	[formGroup]="forgotForm"
	(ngSubmit)="recoverPassword()"
	class="w-full sm:w-[500px] bg-white p-4 rounded-xl shadow-2xl h-full"
	autocomplete="off"
>
	<div class="flex justify-center mb-3">
		<img src="assets/img/login.png" width="80" height="80" alt="logo" />
	</div>

	<h1 class="text-xl font-bold text-center mb-4">¿Olvidaste tu contraseña?</h1>

	<div class="space-y-5">
		<div>
			<p-floatlabel>
				<input id="email" name="email" pInputText formControlName="email" class="w-full" autocomplete="email" />
				<label for="email">Correo Electrónico</label>
			</p-floatlabel>
			<small *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid" class="text-red-500"> </small>
		</div>

		<div>
			<p-button
				type="submit"
				label="Enviar Instrucciones"
				icon="pi pi-envelope"
				class="w-full"
				[disabled]="isLoading"
				[icon]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-envelope'"
			></p-button>
		</div>

		<div class="flex items-center gap-4 justify-center">
			¿Ya recordaste tu clave?
			<p-button type="button" label="Iniciar Sesión" class="font-bold" routerLink="/auth/login"></p-button>
		</div>
	</div>
</form>
